:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html,
body {
  @apply max-width-100vw overflow-x-hidden;
}

body {
  @apply color-[var(--foreground)] background-[var(--background)] font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @apply p-0 m-0 box-border;
}

a {
  @apply color-inherit decoration-none;
}

button {
  @apply cursor-pointer;
}